.cadastro {
  background: var(--bg-primary);
  height: 100vh;
}

.logo {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.form {
  padding-bottom: 2rem;
}

button {
  margin-top: 1rem;
}

.row-image {
  margin-top: 5rem;
}

.box {
  background: white;

  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form input {
  margin-top: 1rem;
  outline: none;
  width: 80%;
  border-radius: 4px;
}
