:root {
  --bg-primary: #073b4c;
  --bg-secondary: #06d6a0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.03em;
}

.container {
  max-width: 1180px;

  width: 100%;
}

.bg-primary {
  background: var(--bg-primary) !important;
}

.bg-secondary {
  background: var(--bg-secondary) !important;
}
